@charset "utf-8";

/* body */
body {
  background: #FFF;
  color: #5e5e5e;
  font: 1.5em 'Open Sans', sans-serif;
}

footer {
    margin-top: 40px;
}
/* navbar */
.navbar {
    background-color: #E7D5E8;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 9999;
    font-size: 20px;
}

.navbar-header img {
    height: 44px;
    width: 87px;
}


font {
    font-family: 'Ubuntu', sans-serif, "Sawarabi Gothic";
}

titlefont{
    font-family: "Rounded Mplus 1c";
    background: #FFF;
}

h3{
    background: #FFFF66;
    font-family: "Mplus 1p",'Helvetica Neue','Helvetica','Arial', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

}

h5{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: "Mplus 1p",'Helvetica Neue','Helvetica','Arial', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

p1{
    font-size: 15px;
    text-align:center;
}
p2{
    font-size: 30px;
}

p3{
    font-family: "Mplus 1p",'Helvetica Neue','Helvetica','Arial', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color:#008080;
    font-weight: bold;
}

/* cover */
.cover {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 440px;
    background: url("/images/Pintotest.png") center center no-repeat;
    background-size: cover;
}
.cover .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.cover .cover-inner .cover-contents h1 {
    margin: 45px 0 0 0;
    padding-bottom: 15px;
    color: #191970;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 0.25px #fff;
    letter-spacing: 0.15em;
}



/*.type-shine {*/
/*  font-size: 60px;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/
/*.type-shine:before {*/
/*  -webkit-animation: shine .6s ease 3s;*/
/*  content:"";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: -250px;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);*/
/*}*/
/*@-webkit-keyframes shine {*/
/*  0% {transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);background: rgba(255,255,255,0.5);}*/
/*  100% {transform: rotate3d(0,0,1,-25deg) translate3d(0,150%,0);background: rgba(255,255,255,0.5);}*/
/*}*/

.cover .cover-inner .cover-contents h2 {
    margin: 0 0 20px 0;
    color: #191970;
    font-weight: bold;
    font-size: 25px;
    font-family: "Mplus 1p",'Helvetica Neue','Helvetica','Arial', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 0.15em;
}

.cover .cover-inner .cover-contents h4 {
    margin: 10px 0 5px 0;
    color: #660000;
    font-size: 25px;
    font-weight: bold;
    font-family: "Mplus 1p",'Helvetica Neue','Helvetica','Arial', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    -webkit-text-stroke: 0.5px #DDDDDD;
    letter-spacing: 0.15em;
}

.cover .cover-inner .cover-contents h725 {
    margin: 10px;
    padding: 10px;
    color: #191970;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 0.15em;
}

p525{
    color: #191970;
    font-size: 20px
}

li{
    list-style: none;
}

.cover .btn-success {
    background-color: #ed486f;
    border-color: #ed486f;
}


/*welcomeページの分割*/

main {
  display: flex;
  margin-top: 50px;
}

main div.division {
  width: calc(50% - 10px);
  margin: 30px 0 0 0;
}

.main .division .about{
    margin: 20;
}

.main .division h1 {
    color: #98fb98;
    font-weight: bold;
    font-family: "Mplus 1p",'Helvetica Neue','Helvetica','Arial', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 0.15em;
}

.main .division .movingimage{
    margin: 50px 0 0 0;
}

/* search */
.search {
    margin-bottom: 20px;
}

/* item */
.item .panel-body {
    height: 70px;
}

.item .panel-body1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.item .panel-heading {
    height: 250px;
}
.item .panel-heading img {
    height: 100%;
    max-width: 100%;
}
p.item-title {
    /* Keep the number of lines in a sentence on two lines, and add "..." to the end of line. */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* item */
.item .panel-body {
    height: 120px;
}
.item .buttons form {
    display: inline-block;
    margin: 0 5px;
}
/* users */
.user-profile .name {
    margin-bottom: 20px;
}
.user-profile .name h1 {
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}
.user-profile .status ul {
    margin: 0 auto 10px;
    padding: 0;
    display: table;
}
.user-profile .status ul li {
    width: 120px;
    padding: 5px 0;
    border-right: 1px solid #ddd;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #777;
}
.user-profile .status ul li:last-child {
    border: none;
}
.user-profile .status ul li .status-label {
    font-size: 12px;
}
.user-profile .status ul li .status-value {
    font-size: 18px;
}

/* content */
#nav ul {
  list-style-type: none; /*箇条書きのポッチを消す*/
  text-align:center; /*左右中央寄せは親要素に対し���指定*/
}

  
img{
    width:300px;
    height:300px;
    max-width:100%;
    max-height:100%;
}

.sample1 {
        position:relative;        /* 相対位置指定　影の枠 */
}
.sample1 .caption {
        font-size: 130%;
        text-align: center;
        padding-top: 40px;  /*キャプション上からの距離*/
        color: #fff;
}
.sample1 .mask {
        width: 100%;
        height: 100%;
        position: absolute;        /* 絶対位置指定 */
        top: 0;
        left:0;
        opacity:0;        /* マスクを表示しない */
        background-color: rgba(0,0,0,0.4);        /* マスクは半透明 */
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
}
.sample1:hover .mask {
        opacity: 1;        /* マスクを表示する */
}

a.cp_btnwomen {
display: inline-block;
font-size: 20px;
font-family: "Mplus 1p",'Helvetica Neue','Helvetica','Arial', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
width: 180px;
padding: 0.5em;
margin: 10px;
margin-right: 30px;
text-align: center;
text-decoration: none;
background-color: rgba(255,255,255,0.8);
color: #ffb6c1;
border: 2px solid #ffb6c1;
border-radius: 3px;
transition: .4s;
}

a.cp_btnwomen:hover {
background: #ffb6c1;
color: #fff;
transform: scale(1.08)
}

a.cp_btnmen {
display: inline-block;
font-size: 20px;
font-family: "Mplus 1p",'Helvetica Neue','Helvetica','Arial', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
width: 180px;
padding: 0.5em;
margin: 30px;
margin-left: 10px;
text-align: center;
text-decoration: none;
background-color: rgba(255,255,255,0.8);
color: #87CEEB;
border: 2px solid #87CEEB;
border-radius: 3px;
transition: .4s;
}
a.cp_btnmen:hover {
background: #87CEEB;
color: #fff;
transform: scale(1.08)
}

a.cp_btnitem {
display: inline-block;
width: 250px;
padding: 0.8em;
margin: 10px;
text-align: center;
text-decoration: none;
background-color: #F0F8FF;
color: #008080;
border: 2px solid #008080;
border-radius: 3px;
transition: .4s;
}
a.cp_btnitem:hover {
background: #008080;
color: #fff;
}



/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}
h1 {
  text-align: center;
  padding: 1em 0;
}
form {
  padding: 0 1.5em;
}
.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}
.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}
.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}
.button-panel {
  margin: 2em 0 0;
  width: 100%;
}
.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}
.button:hover {
  background: #ee3e52;
}
.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}
.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}
.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}



itemsearch {
  display: flex;
  flex-wrap: wrap;
}
 
itemsearch div.animal {
  width: calc(25% - 10px);
  margin: 5px;
}




.radio02{
    text-align: center;
    font-family: "Rounded Mplus 1c"
}
.radio02-input{
  display: none;
}
.radio02-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.radio02-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.radio02-input:checked + label{
  color: #FF1493;
}
.radio02-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #FFA500;
  border-radius: 50%;
}
.searchbtn {
    position: relative;
    left: 40%;
    float: left;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    font-family: "Rounded Mplus 1c";
    color: gray;
    background: #FFBBFF;
    transition: .4s;
    border-radius: 10px;
}
.searchbtn>span {
    border-bottom: solid 2px #FFF;
}
.searchbtn:hover {
    color: #888888;  
    background: #ffff80;
}
.unsearchbtn {
    position: relative;
    right: 40%;
    float: right;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    font-family: "Rounded Mplus 1c";
    color: gray;
    background: #bcffff;
    transition: .4s;
    border-radius: 10px;
}
.unsearchbtn>span {
    border-bottom: solid 2px #FFF;
}
.unsearchbtn:hover {
    color: #888888;  
    background: #FFC7AF;
}

.album {
	margin: auto;
	background-color: white;
	position: relative;
}

.album img {
    top:0px; 
	width:70%;
	animation-name: album;
	-webkit-animation-name: album;
	animation-duration: 20s;
	-webkit-animation-duration: 20s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	opacity: 0;
}

.album .img1 {
	display: block;
	margin: 0 auto;
	left: 35%;
}

.album .img2 {
	position: absolute;
	top: 0px;
	left: 15%;
    animation-delay:5s;
}
.album .img3 {
	position: absolute;
	top: 0px;
	left: 15%;
	animation-delay:10s;
}
.album .img4 {
	position: absolute;
	top: 0px;
	left: 15%;
	animation-delay:15s;
}

@keyframes album {
	0% {
		opacity: 0;
	}
	
	6.3% {
		opacity: 1;
	}

	18.7% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
}
	@-webkit-keyframes album {
	0% {
		opacity: 0;
	}
	
	6.3% {
		opacity: 1;
	}

	18.7% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
}
#survey-ttl{
    text-align: center;
    font-family: "Rounded Mplus 1c";
    font-size: 18px;
}

/*お気に入りボタン*/
.button_wrapper{
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    width: 100%;    
    margin-top: 0;
    margin-bottom: 5px;
}

.button_wrapper .favoritebutton{
    padding: 0.25em 0.5em;
    text-decoration: none;
    background:#339933;/*ボタン色*/
    color: white;
    border-bottom: solid 4px #627295;
    border-radius: 8px;
    font-size: 15px;
}

.button_wrapper .favoritebutton2{
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: #336699;/*ボタン色*/
    color: white;
    border-bottom: solid 4px #627295;
    border-radius: 8px;
    font-size: 15px;
}
	

.animal p{
    font-size: 20px;
}

.animal p1{
    font-size: 15px;
}

rankingpart{
    margin-top: 0;
}